/* Fix for container within navbar on small viewports, for Firefox and Chrome.
This may but be necessary when Bootstrap 4 is improved after alpha. */
.aligncenter{
  text-align: center !important;
  display: block;
  margin: auto;
}
html,body{
  overflow-x: hidden;
  font-size: 14px;
  background: #fff;
  font-family: 苹方, 微软雅黑, simhei, Helvetica, Verdana, Arial, sans-serif;
}

@media screen and (max-width: 1024px){
  html,body{
    font-size: 12px;
  }
}
h1{
  /* 30px */
  font-size: 2.143rem;
  line-height: 3.429rem;
}
h2{
  /* 24px */
  font-size: 1.714rem;
}
h4{
  /*20px*/
  font-size: 1.429rem;
}
h5{
  /* 18px */
  font-size: 1.286rem; 
}
.font-30{
  font-size: 2.143rem;
}
.font-24{
  font-size: 1.714rem;
}
.font-18{
  font-size: 1.286rem; 
}
.font-17{
  font-size: 1.214rem;
}
.font-12{
  font-size: 0.8571rem;
}
.font-10{
  font-size: 0.7143rem;
}
.font-8{
  font-size: 0.571rem;
}
.bold{
  font-weight: bold;
}
a{
  color: #000;
}
.blue{
  color: #0067b1;
}
.background-blue{
  background-color: #0067b1;
}
.border{
  border: 1px solid;
}
.light{
  font-weight: lighter;
}
@media (max-width: 575px) {
  .navbar > .container {
    position: static;
    width: 100%;
  }
}

/* Max content widths */

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto
}

/* Navbar */

.navbar-topbar {
  border-radius: 0;
}

.navbar .dropdown-menu li {
  width: 100%;
  margin-left: 0 !important;
}

.navbar .dropdown-menu {
  margin-top: 0;
}

/* Main content */
#content{
  margin-top: 12.04rem;
  min-height: calc(100vh - 319px);
}
#content article {
  margin: 40px 0
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}
.page-header {
  background: #f9f9f9 none repeat scroll 0 0;
  border-bottom: 1px solid #eee;
  margin: 40px 0 20px;
  padding: 10px 14px;
}
/* Sidebar */

/*.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}*/
.carousel-control-next-icon{
  background-image: url(../images/arrowleft.png);
  background-size: contain;
  transform: rotate(180deg);
}
.carousel-control-prev-icon{
  background-image: url(../images/arrowleft.png);
}

.sidebar #accordion h2{
  cursor: pointer;
  margin-top: 1rem;
  color: #0067b1;
}
.sidebar #accordion h2:focus{
  outline: none;
}
.sidebar #accordion h2 span.ui-icon{
  width: 2rem;
}
.sidebar #accordion div{
  padding-left: 2rem;
  font-weight: initial;
  padding-top: .4rem;
  padding-bottom: .4rem;
  font-size: 1rem;
}
.sidebar #accordion div p{
  margin-bottom: 0;
  font-weight: lighter;
}

.sidebar #accordion div a{
  color: #0067b1;
}
#info-accordion h2{
  cursor: pointer;
}

#info-accordion .ui-accordion-header-icon{
  float: right;
}
#info-accordion h2:focus{
  outline: none;
}
#info-accordion h2 span.ui-icon{
  width: 2rem;
}
#info-accordion div{
  font-weight: initial;
  line-height: initial;
}
#info-accordion div.images{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex-wrap: wrap;
}
#info-accordion div.images .image{
  width: 30%;
  margin-bottom: 2rem;
}
#info-accordion div.images .image img{
  margin: 0;
  width: 100%;
}
#info-accordion div a{
  color: #0067b1;
}
#info-accordion img{
  width: initial;
  margin-right: .5rem;
  margin-top: .5rem;
}
/* Hide form placeholders on focus */

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/* Comments */

#respond {
  margin-top: 40px
}
ol.commentlist {
  counter-reset: li; /* Initiate a counter */
  padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
  position: relative;
  margin: 0 0 20px 0;
  list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f9f9f9;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f9f9f9
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/* Site footer */

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}
.navi .search{
  display: inline-flex;
  float: right;
  width: 80%;
}
.navi .search .wrapper{
  width: 40%;
}
.navi .search form{
  border: 1px solid;
  border-radius: 5px;
}
.navi .search form input{
  border: 0;
}
.navi .search form button{
  border: 0;
  color: #000;
}
.navi .search form button:hover{
  background-color: initial;
  color: initial;
}
.navi .search .tags{
  text-align: right;
  font-size: 1.286rem;
}
.nav-down{
  background-color: #0067b1;
}
.nav-down.navbar-light .navbar-nav .nav-link{
  color: #fff;
}
.nav-down ul{
  float: right;
}
.nav-down .col-lg-10{
  padding-right: 0;
  padding-left: 0;
}
.navi .navbar{
  /*padding-bottom: 0;*/
  /*margin-bottom: .5rem;*/
}
.navi .navbar-toggleable-md .navbar-nav .nav-link{
  margin-left: 4rem;
  border-bottom: 2px solid #0067b1;
}

.navbar-toggleable-md .navbar-nav .nav-link:hover{
  border-bottom-color: #fff; 
}

.tag a{
  color: #000;
  font-size: 1rem;
}
.banner img{
  width: 100%;
  /*max-width: 100%;*/
}
.blue{
  color: #0067b1 !important;
}
.white{
  color: #fff !important;
}
.white a{
  color: #fff !important;
}

.background-blue{
  background-color: #0067b1 !important;
}
.background-white{
  background-color: #fff !important;
}
.border-trans{
  border-color: rgba(255,255,255,0);
}
.border-blue{
  border-color: #0067b1 !important;
}
.border-grey{
  border-color: #f2f2f2;
}
hr{
  /*border-top: 1px solid;*/
}
.clearfix{
  height: 2.143rem;
}
.clearfix-25{
  height: 1.786rem;
}
.clearfix-20{
  height: 1.429rem;
}
.clearfix-15{
  height: 1.071rem;
}
.clearfix-10{
  height: 0.7143rem;
}
.clearfix-5{
  height: 0.357rem;
}
.tab-container {
  text-align: center;
}
.tab-container .nav.nav-tabs{
  border: 0;
}
.tab-container ul.nav {
  display: inline-block;
}
.tab-container ul.nav li {
  display: inline;
  float: left;
  font-weight: bold;
}
.tab-container ul.nav li a{
  color: #000;
  border-color: #fff #000 #fff #fff;
  border-top-right-radius: 0; 
  border-top-left-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1rem;
}

.tab-container ul.nav li a:hover{
  border-color: #fff #000 #fff #fff;
  color: #0067b1;
}
.tab-container ul.nav li:last-child a{
  border-color: #fff;
}
.tab-container ul.nav li a.active{
  color: #0067b1;
  background-color: #fff;
  border-color: #fff #000 #fff #fff;
  border-top-right-radius: 0; 
  border-top-left-radius: 0;
}
.tab-container ul.nav li:last-child a.active{
  border-color: #fff;
}
#category .tab-container ul.nav li a,
.news-list .tab-container ul.nav li a{
  line-height: 2rem;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    border-radius: 0;
}
.breadcrumb a{
  color: #0067b1;
}
/*------------         news page           --------------*/
.news-list .tab-container {
  text-align: left;
}
.news-list .tab-container .nav.nav-tabs{
  border: 0;
}
.news-list .tab-container ul.nav {
  display: flex;
}
.news-list .tab-container ul.nav li {
  display: inline;
  float: left;
}
.news-list .tab-container ul.nav li a{
  color: #000;
  border-color: #fff;
  border-radius: 0; 
}
.news-list .tab-container ul.nav li a:hover{
  border-color: #fff;
}
.news-list .tab-container ul.nav li a.active{
  color: #0067b1;
  background-color: #e3f2fa;
  border-color: #e3f2fa;
}

.news-list .tab-content{
  background-color: #e3f2fa;
}
.news-list .tab-content .tab-pane .post{
  border-bottom: 1px solid #fff;
  padding: 1.786rem;
}
.news-list .tab-content .tab-pane .post .single-post .readmore a{
  padding: 0.3571rem;
  border: 1px solid #0067b1;
  color: #0067b1;
  text-decoration: none;
}

/*---------------             end news page              --------------*/

.home .banner{
  background-color: #f5f5f5;
  overflow: hidden;
}
.home .magazine{
  padding-top: 30px;
}
.page .single-post img{
  width: 100%;
}
.nav-link{
  font-size: 1rem;
}
.banner .wrapper{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);

}
#about .title{
  display: flex;
  justify-content: center;
  position: relative;
}
#about .title .wrapper .inner{
  position: relative;
}
#about .title .wrapper .inner::before,
#about .title .wrapper .inner::after{
  content: "__";
  position: absolute;
  top: 35%;
}

#about .title .wrapper .inner::before{
  left: -2rem;
}
#about .title .wrapper .inner::after{
  right: -2rem;
}
#about .section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about .section hr{
  width: 20%;
  border-top: 2px solid #0067b1;
}
.contact form label{
  font-size: 1.214rem;
}
.contact form input{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #231f20;
}

.contact form input.btn-primary{
  color: #000;
  background-color: initial;
  border: 0;
  font-size: 1.214rem;
}
.contact form input.btn-primary:focus{
  box-shadow: none;
}
.contact .wpcf7 form input[type='submit']:hover{
  color: #0067b1;
}

div.wpcf7 .ajax-loader{
  display: none;
}
#imageGallery{
  height: initial;
}
#imageGallery img{
  width: 100%;
}
.comment-panel{
  padding: 1rem;
}
.comment-panel .tab-container{
  padding: 0rem;
  text-align: left;
}
.comment-panel .single-comment{
  /*display: flex;*/
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 2rem;
}
.comment-panel .single-comment div{
  display: inline-block;
  line-height: 2 !important;
}
.comment-panel .single-comment div.date{
  width: 100%;
  flex: 1;
}
.comment-panel .single-comment div.comment{
  width: 100%;
  flex: 8;
}
.comment-panel .single-comment .wrapper{
  width: 100%;
}
.comment-panel .single-comment div.user{
  width: 13%;
  float: right;
}
.single-comment div.source{
  width: 13%;
  float: right;
}
.comment-panel .tab-container ul.nav li{
  padding: .5em 1em;
  border-right: 1px solid #000;
}

.comment-panel .tab-container ul.nav li:last-child{
  border-right: 0px solid #000;
}

.comment-panel .tab-container ul.nav li a{
  padding: 0;
  border-right: 0;
}
.comment-panel .tab-container ul.nav li a.active{
  border-bottom-color: #ce2024;
}
.single #products .comment-panel .tab-container ul.nav li a{
  padding-bottom: .5rem;
}
.recommended-post .header h2{
  display: inline-block;
}
.recommended-post .header h2::before,
.recommended-post .header h2::after{
  content: "____";
  position: relative;
  top: -.6rem;
}

.recommended-post .header h2::before{
  left: -1rem;
}
.recommended-post .header h2::after{
  right: -1rem;
}
.recommended-post img{
  width: 100%;
}
.share img{
  cursor: pointer;
}
.search .all-products .image img{
  width: 100%;
}
.image img{
  width: 100%;
}
.home .banner img{
  width: initial;
}
.brands{
  display: flex;
  justify-content: space-between;
  /*justify-content: center;*/
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.brand{
  margin-top: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
}
@media screen and (max-width: 500px){
  .brands{
    justify-content: center;
  }
}
.brands .brand{
  text-align: center;
}

.c-bd{width:700px;margin:115px auto;background:#fff;border:1px solid #c0c0c0;}
.c-bdc{padding:90px 0 90px 70px;}
.c-bdc .w-wb1{margin:35px 0 0;}
.w-wb1 .wb10{overflow:hidden;display:block;width:38px;height:35px;text-indent:-9999px;background:url(style/images/img/tieba24.png) -43px 0 no-repeat;}
.w-wb1 .wb10:hover{background-position:1px 0;}

/* 微信分享弹层样式 */
.towdimcodelayer{position:absolute;left:1.2rem;top:-11rem;z-index:10000;margin-top:0;opacity:0;filter:alpha(opacity=0);}
.js-transition{transition:margin-top .15s ease,opacity .12s linear;-webkit-transition:margin-top .15s ease,opacity .12s linear;-moz-transition:margin-top .18s ease,opacity .15s linear;-ms-transition:margin-top .15s ease,opacity .12s linear;-o-transition:margin-top .15s ease,opacity .12s linear;}
.towdimcodelayer .arrow{position:absolute;width:0;height:0;border-width:8px;border-style:solid;_display:none;}
.towdimcodelayer .js-arrow-up{left:72px;top:-15px;border-color:transparent transparent #191919 transparent;}
.towdimcodelayer .js-arrow-down{left:72px;bottom:-15px;border-color:#191919 transparent transparent transparent;}
.towdimcodelayer .layerbd{width:150px;height:150px;padding:30px;background:#191919;box-shadow:0 1px 3px #000;-webkit-box-shadow:0 1px 3px #000;-moz-box-shadow:0 1px 3px #000;-o-box-shadow:0 1px 3px #000;}
.towdimcodelayer .codebg{width:75px;height:75px;background:#fff;margin: auto;}
.towdimcodelayer .codebg img{width:75px;height:75px;}
.towdimcodelayer .codettl{height:22px;line-height:22px;margin-top:5px;color:#888;font-size:12px;text-align: center;}
.js-show-up{margin-top:15px;opacity:1;filter:alpha(opacity=100);}
.js-show-down{margin-top:-15px;opacity:1;filter:alpha(opacity=100);}
.single-post .towdimcodelayer{left:-1.7rem;top:-13rem;}

.flipbook-viewport{
  overflow:hidden;
  width:100%;
  height:100%;
}
#flipbook{
  transition: all .3s;
  transform-origin: center;
}
#flipbook img{
  width: 100%;
  max-width: initial;
}
.flipbook-viewport .containers{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
  transform: translate(-50%, -50%);
}

.flipbook-viewport .flipbook{
  width:922px;
  height:600px;
  left:-461px;
  top:-300px;
}

.flipbook-viewport .page{
  width:461px;
  height:600px;
  background-color:white;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.flipbook .page{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
}

.flipbook-viewport .shadow{
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow:0 0 20px #ccc;
  -moz-box-shadow:0 0 20px #ccc;
  -o-box-shadow:0 0 20px #ccc;
  -ms-box-shadow:0 0 20px #ccc;
  box-shadow:0 0 20px #ccc;
}
@media screen and (max-width: 900px){
  .flipbook-viewport img{
    width: 100%;
    max-width: 100%;
  }
}
.carousel-control-next-icon, 
.carousel-control-prev-icon{
  width: 2rem;
  height: 4rem;
}
.carousel-control-next:focus, 
.carousel-control-next:hover, 
.carousel-control-prev:focus, 
.carousel-control-prev:hover{
  color: #8e8e91;
  opacity: 1;
  text-decoration-color: #8e8e91 !important;
}
.navi-small .navbar-toggler-right{
  right: 0;
}
.navi-small .navbar{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.navi-small .navbar .navbar-brand{
  /*flex: 1 0 0;*/
  width: 25%;
  margin-right: 2.5rem;
}
.navi-small .navbar .navbar-brand img{
  width: 85%;
}

.navi-small .navbar-toggler{
  align-self: inherit;
  position: inherit;
  flex: 1 0 0;
  text-align: right;
}
.navi-small .navbar-toggler:focus{
  outline: 0;
}
.navi-small .search{
  display: flex;
  align-self: center;
  flex: 2 0 0;
  justify-content: center;
}
.navi-small .navbar-toggler img{
  height: 100%
;}
.navi-small .navbar-collapse{
    position: absolute;
    top: 6.5rem;
    right: 0;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: .5rem 4rem;
}
.navi-small .navbar-collapse a.nav-link{
  padding-left: 0;
}
.navi-small .menu-item-has-children.dropdown.show .dropdown-menu{
  display: inline;
}
.navi-small .dropdown-menu{
  border: 0;
}
.navi-small form{
  border: 1px solid #000;
  height: 2.5rem;
}
.navi-small form input{
  display: inline;
  width: 75%;
}
.navi-small form button{
  display: inline;
  width: 23%;
}
.navi-small form input,
.navi-small form button{
  border: 0;
}
.navi-small form button:hover,
.navi-small form button:focus{
  background: transparent;
  box-shadow: none;
}
.navi-small .btn-outline-info{
  color: transparent;
  border: 0;
}
.navi-small form button i{
  color: #000;
}
.navi-small form button:hover i,
.navi-small form button:focus i{
  color: #000;
}
@media screen and (max-width: 1024px){
  #content{
    margin-top: 4.85rem;
  }
}
#wpadminbar{
  display: none;
}
.footer-small .latest-magazine{
  display: inline-block;
  /*padding: 2rem;*/
  /*border: 1px solid;*/
}
.footer-small .latest-magazine img{
  width: 7rem;
}
.footer-small .border-right{
  border-right: 2px solid #fff;
}
.footer-small .border-bottom{
  border-bottom: 1px solid #63ace0;
}
.footer-small{
  font-size: 1.5rem;
}

.footer-small .font-20{
  font-size: 1.1rem;
}
.footer-small .font-12{
  font-size: 1rem;
}
.footer-small .font-9{
  font-size: 0.77rem;
}

.footer-small .font-23{
  font-size: 1.27rem;
}
.footer-small .font-24{
  font-size: 1.33rem;
}
footer .social img{
  width: 3rem;
}
.footer-small .social img{
  width: 2rem;
}
.search .news-list .tab-content .tab-pane .post{
  padding: 2.786rem;
}
.search .news-list .tab-container ul.nav li a{
  padding-left: 3rem;
  padding-right: 3rem;
  color: #0067b1;
}
#magazine .thumbnails{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
#magazine .thumbnails ul li{
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: .5rem;
  transition: all .3s;
  box-shadow: 0 0 10px #ccc;
}
#magazine .thumbnails ul li img{
  width: 3rem;
}
#magazine .thumbnails ul li:hover{
  transform: scale(1.3);
  transform-origin: center;
}
#magazine .thumbnails ul li.double img{
  margin: 0;
}
.single #products .mobile-thumbnail-image img{
  width: 100%;
}
.single #products .mobile-thumbnails{
  list-style: none;
  padding-left: 0;

}
.single #products .mobile-thumbnails .mobile-thumbnail{
  display: inline;
}
.single #products .mobile-thumbnails img{
  width: 25%;
}
.recommended-block{
  position: absolute;
  background: #f3f2f2;
  width: 12rem;
  border-radius: 5px;
  transform: translate(-55%, -110%);
  -webkit-box-shadow: 5px 5px 5px 0px #b5b5b5;
  -moz-box-shadow: 5px 5px 5px 0px #b5b5b5;
  box-shadow: 5px 5px 5px 0px #b5b5b5;
  opacity: 1;
  display: none;
  transition: opacity .3s;
  font-size: 0.85rem !important;
  z-index: 1000;
}
.recommended-block .wrapper{
  margin: 1.5rem 1rem 0.5rem 1rem;
  /*width: 120%;*/
}
.recommended-block h5{
  font-size: 0.85rem !important;
}
.recommended-block p,
.recommended-block hr{
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.recommended-block:before{
  content:"";
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f3f2f2 transparent transparent;
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  z-index: 99;
}
.scores .score .text{
  display: inline-block;
  width: 35%;
}
.scores .score .text-number{
  display: inline-block;
  width: 15%;
}
.scores .score .progress{
  display: inline-block;
  width: 42%;
  height: .9rem;
  /*border: 1px solid #d7d5d3;*/
  border-radius: 0;
  margin-right: 2px;
  background-color: #e7e5e2;
}
.progress-bar{
  background-color: #0067b1;
}
.link-logo a{
  display: inline-block;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
footer .hidden-md-down{
  height: 9.286rem;
}
@media (min-width: 576px){
  .form-inline .form-control {
    width: 75%;
  }
}
.zoom-icon {
    position: absolute;
    z-index: 1000;
    width: 22px;
    height: 22px;
    top: 20px;
    right: 10px;
    background-image: url(../images/zoom-icons.png);
    background-size: 88px 22px;
}
.zoom-icon-in {
    background-position: 0 0;
    cursor: pointer;
}
.zoom-icon-out {
    background-position: -44px 0;
}





