#timeline a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#timelinea:hover,
#timelinea.selected {
	color: #ffcc00;
}

#timeline h1,
#timeline h2,
#timeline h4,
#timeline h5,
#timeline h6 {
	text-align: center;
	color: #ccc;
	margin-bottom: 5px;
}

#timeline h1 {
	font-size: 18px;
}

#timeline h2 {
	font-size: 14px;
}

#timeline .sociales {
	text-align: center;
	margin-bottom: 20px;
}

.timeline-background{
	background-image: linear-gradient(0, #efefef 67.5%, #0067b1 0%);
	background: -moz-linear-gradient(bottom, #efefef 67.5%, #0067b1 0%)
}

#timeline {
	width: 1000px;
	overflow: hidden;
	margin: 100px auto;
	position: relative;
	background: url('../images/dot.gif') left 7.4rem repeat-x;
}

#timeline .dot{
  display: inline-block;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #fff;
  border-radius: 50%;
  top: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
}

#timeline .dot-blue{
  display: inline-block;
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #0067b1;
  border-radius: 50%;
  top: 8.3rem;
  left: 50%;
  transform: translateX(-50%);
}

#dates {
	width: 1000px;
	height: 60px;
	overflow: hidden;
	padding-left: 0;
}

#dates li {
	list-style: none;
	float: left;
	width: 140px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	background: url('../images/biggerdot.png') center bottom no-repeat;
}

#dates a {
	line-height: 60px;
	padding-bottom: 10px;
	font-size: 1rem;
}

#dates .selected {
    font-size: 38px;
	line-height: 38px;
}

#issues {
	width: 1000px;
	height: 300px;
	overflow: hidden;
	padding-left: 0 !important;
}

#issues li {
	width: 994px;
	height: 300px;
	list-style: none;
	float: left;
}

#issues li img {
	float: left;
	margin: 10px 30px 10px 50px;
	background: transparent;
}

#issues li h1 {
	font-size: 48px;
	margin: 20px 0;
}

#issues li p {
	margin-right: 70px;
	font-weight: normal;
	line-height: 22px;
}

#next,
#prev {
	position: absolute;
	top: 0;
	font-size: 70px;
	top: 58%;
	width: 44px;
	height: 44px;
	background-position: 0 0;
    background-size: contain;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

#next:hover,
#prev:hover {
	/*background-position: 0 -76px;*/
}

#next {
	right: 0;
	background-image: url('../images/next.png');
}

#prev {
	left: 0;
	background-image: url('../images/prev.png');
}
#next.disabled,
#prev.disabled {
	opacity: 0.2;
}

#timeline .mask-left{
    width: 1rem;
    height: 7rem;
    display: inline;
    position: absolute;
}
#timeline .mask-left{
    width: 1rem;
    height: 7rem;
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
}
#timeline #issues li .wrapper{
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timeline #issues li .images{
	flex: 2;
	text-align: right;
}
#timeline #issues li .content{
	flex: 2;
}
#timeline #issues li .images .image-left,
#timeline #issues li .images .image-right{
	display: inline-block;
}
#timeline #issues li .images img{
	margin: 10px 10px;
	float: initial;
}
#timeline #issues li .images .image-wrapper{
	padding-right: 3rem;
}
#timeline #issues li .content .content-wrapper{
	padding-left: 3rem;
	padding-right: 7rem;
}
#timeline #issues li .content .content-wrapper p{
	margin-bottom: 0;
	margin-right: 0;
}